#aboutMe {
  height: 54vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#projects {
  padding-top: 80px;
}


.navbar-expand-lg {
    flex-wrap: wrap;
}

#carouselExampleInterval {
  background-color: #2C5EAC !important;
}

#carouselExampleIndicators {
  padding-top: 40px;
}

#myCarousel {
    width: 100%;
    height: 45vh;
}

.carousel-control {
    margin-top: 20px;
}

.carousel-inner .item {
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
